@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #ffe4ec, #f8d5e6);
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.container {
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  padding: 45px 35px;
  border-radius: 30px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  position: relative;
  max-height: 90vh;  /* container ki maximum height set ki gayi */
  overflow-y: auto;  /* agar content us height se zyada ho jaye toh scroll enable ho jaye */

}

.heading {
  font-size: 2rem;
  font-weight: 500;
  color: #a61d57;
  margin-bottom: 20px;
}

.message {
  font-size: 1rem;
  color: #3c2b34;
  line-height: 1.8;
  margin-bottom: 30px;
}

.next-btn {
  background: #e43f7a;
  color: white;
  text-decoration: none;
  padding: 10px 22px;
  border-radius: 25px;
  font-weight: 500;
  transition: 0.3s;
}

.next-btn:hover {
  background: #c92e64;
}

/* floating hearts */
.heart {
  position: absolute;
  font-size: 1.4rem;
  animation: float 8s linear infinite;
  opacity: 0.7;
  color: #ff6fae;
}

@keyframes float {
  0% { transform: translateY(100vh) scale(0.5); opacity: 1; }
  100% { transform: translateY(-10vh) scale(1.2); opacity: 0; }
}
